.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }



  .navbar#myHeader{
    background-color: white;
    z-index: 100;
  }

  .col-lg-4{
    padding-top: 7rem;
  }

  .features-icons#sec-logos{
    padding-top: 0rem;
  }
 

  .mb-lg-3, .my-lg-3 {
    margin-bottom: 2rem !important;
  }

  .features-icons .features-icons-item {
    max-width: 10rem;
  }

  .features-icons .features-icons-item .features-icons-icon {
    height: auto;
  }

  #rect{
    max-width: 15rem;
  }

  #rect3{
    max-width: 20rem;
  }

  .bg-schedule{
      background-color: rgb(35, 35, 70);
  }

  .bg-custom-light{
    background-color: lightblue;
  }

  .mb-5#apps{
    margin-top: 5rem;
    margin-bottom: 0 !important; 
  }


  #logoimg{
      height: 150px;
  }

  #logorow{
      margin-bottom: 0;
  }

  img{ 
      width: 100%;
  }

  img#imgrect{
    height: 150px;
    width: 100%;

  }

  html{
      scroll-behavior: smooth;
  }