.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .masthead#Presentation{
    background-image: url("../img/portada.jpg");
    background-size: 110% 110%;
  }

  .navbar#myHeader{
    background-color: #FAC12B;
    z-index: 100;
  }

  #links a{
    color: white;
    font-weight: 800;
  }

  .col-lg-4{
    padding-top: 7rem;
  }

  .features-icons#sec-logos{
    padding-top: 0rem;
  }
 

  .mb-lg-3, .my-lg-3 {
    margin-bottom: 2rem !important;
  }

  .features-icons .features-icons-item {
    max-width: 10rem;
  }

  .features-icons .features-icons-item .features-icons-icon {
    height: auto;
  }

  #rect{
    max-width: 15rem;
  }

  #rect3{
    max-width: 20rem;
  }

  .bg-schedule{
      background-color: #861534;
  }

  .bg-custom-light{
    background-image: url("../img/silueta\ sevilla\ 2.png");
    background-color: #FAC12B;
    /* background-size: 100% 100%; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .mb-5#apps{
    margin-top: 5rem;
    margin-bottom: 0 !important; 
  }


  #logoimg{
      height: 150px;
      object-fit: contain;
  }

  #logorow{
      margin-bottom: 0;
  }

  #companiestext{
    color: #3a3a3a;
  }

  #terms{
    color: white !important;
  }

  img{ 
      width: 100%;
  }

  #imghead{
    height: 50px;
    width: auto;
  }

  #blank{
    padding-top: 0% !important;
  }

  html{
      scroll-behavior: smooth;
  }